@use "../custom" as *;

#section-hero {
  h1 {
    line-height: 1;
    letter-spacing: -0.5px;
  }
  .os-logo {
    filter: grayscale(1);
    opacity: 50%;
    transition: all 0.2s ease;
    width: 32px;
    height: 32px;
  }
  .os-logo:hover {
    filter: grayscale(0);
    opacity: 100%;
    transition: all 0.2s ease;
    width: 32px;
    height: 32px;
  }
  @include media-breakpoint-down(lg) {
    .row {
      flex-direction: column-reverse !important;
    }
    h1 {
      text-align: center;
      line-height: 1.2;
      font-size: 44px;
    }
    p {
      text-align: center;
    }
    .os-logos {
      justify-content: center !important;
    }
  }
  @include media-breakpoint-down(sm) {
    .os-logos {
      justify-content: center !important;
    }
    h1 {
      text-align: center;
      line-height: 1.2;
      font-size: 40px;
    }
    p {
      text-align: center;
    }
  }
}
