@use "../custom" as *;

#section-softwares {
  .scroll {
    height: 100vh;
    overflow: scroll;
  }
  .hello {
    border: 0px solid;
  }

  .software-desc {
    line-height: 1.6;
    font-size: 16px;
    color: $black-secondary;
    margin-bottom: 12px;
  }
  .get-software {
    font-weight: 500;
    color: $primary !important;
    text-decoration: none;
    border-bottom: 1px solid $primary;
    transition: all 0.2s;
  }
  .get-software:hover {
    color: $primary-hover !important;
  }
}

.link-active {
  .active {
    color: $primary !important;
  }
}
.link-active:hover {
  transition: all 0.2s ease;
  background-color: $gray-200 !important;
  .active {
    color: $primary !important;
  }
}
