@use "../custom" as *;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

.section {
  padding-block: 96px !important;
}

.para {
  line-height: 1.8;
  font-size: 18px;
}

.img-box {
  width: 400px;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}

@include media-breakpoint-down(lg) {
  .img-box {
    width: 300px;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.os-tags {
  padding-left: 0;
  display: flex;
  gap: 2px;
  .os-tag:first-child {
    color: white;
    font-weight: 500;
    border-radius: 12px;
    padding: 4px 12px;
    background-color: $windows;
    font-size: 10px;
    list-style: none;
  }
  .os-tag:last-child {
    color: white;
    font-weight: 500;
    border-radius: 12px;
    padding: 4px 12px;
    background-color: $mac;
    font-size: 10px;
    list-style: none;
  }
}

ol {
  li {
    list-style-position: inside;
  }
}
