@use "../custom" as *;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.section {
  padding-block: 96px !important;
}

.img-box {
  width: 50%;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}
